
.btn-outline-secondary {
    border: 1px solid; 
    background: none; 
    border-color: gainsboro; 
    border-left: white; 
    background-color: white; 
}


.btn-outline-secondary:hover {
    background-color: #28a745; 
    border: none; 
}


.red-border {
    border-right: white; 
}
.btn-primary{
    background-color: #ff4816;
    border-color: #ff4816;
}